@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-teal: #0F766E;
  --brand-yellow: #FACC15;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}
